<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--导入jdbc配置-->

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.lanou"/>
    </typeAliases>


    <mappers>
        <mapper resource="com/annn/HR/Mapper/HRMapper.xml"/>
        <mapper resource="com/annn/Teaching/Mapper/TeachingMapper.xml"/>
        <mapper resource="com/annn/consultation/Mapper/ReferMapper.xml"/>
        <mapper resource="com/annn/Post/Mapper/PostMapper.xml"/>

    </mappers>

</configuration>
